<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.sms.dao.Roledao">
  <select id="selectAll" resultType="com.briup.apps.sms.bean.Role">
    select * from sms_role
  </select>
   <insert id="insert">
  insert into sms_course values(null,#{name})
  
  </insert>
  <update id="update">
  update sms_course
  set name=#{name},
	where id = #{id}
  
  </update>
  
  <delete id="deleteById">
  
  delete from sms_course where id = #{id}
  
  </delete>
  
</mapper>
  